@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Work+Sans:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --bg-body: #37664e;
    --cor-titulo: #37cde0;
    --cor-lista: #f4f4f4;   
    --fonte-principal: 'Roboto', sans-serif;
    --fonte-secundaria: 'Work Sans', sans-serif;
    
}

body {
    background-color: var(--bg-body)
}

.conteudo {
    margin: auto 10%;
    text-align: center;

}

.lista {
    display: flex;
    justify-content: space-between;
}

.frutas,
.laticinios,
.congelados,
.doces,
.outros {
    display: flex;
    flex-direction: column;
    
}
#frutas,
#laticinios,
#congelados,
#doces,
#outros{
    cursor: pointer;
}

ul {
    text-align: center;
    list-style: none;

}

.riscar-item2 {
    font-family: var(--fonte-secundaria);
    font-size: 1.5em;
    text-decoration: line-through red;
    color: red;
}
.titulo-lista {
    font-family: var(--fonte-principal);
    color: var(--cor-titulo);
    font-size: 1.5em;

}

.riscar-item{
    font-family: var(--fonte-secundaria);
    font-size: 1.5em;
    color: var(--cor-lista);
    
}

@media screen and (max-width:821px){
    .conteudo {
        margin: 0;
    }
    .lista {
        width: 100%;
        margin: 0;
        justify-content: center;
        gap: 2em;
        font-size: 0.9em;
    }
}


@media screen and (max-width:500px) {

    .conteudo {
        margin: auto;
        
    
    }
    .lista {
        flex-direction: column;
        gap: 4em;

    }

    
} 