@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&family=Work+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --bg-body: #7ba18e;
    --bg-listas: #37664e;
    --listas-hover: #344e41;
    --cor-titulo: #65bac5;
    --cor-lista: #f4f4f4;
    --fonte-principal: 'Roboto', sans-serif;
    --fonte-secundaria: 'Work Sans', sans-serif;

}
li {
    text-align: left;
    margin: 0.5em 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--bg-listas);
}
li:hover {
    background-color: var(--listas-hover);
    border: 1px solid var(--listas-hover);
    border-radius: 13px;
}
.cabecalho {
    display: flex;
    justify-content: center;
    margin: auto 10%;
    margin-bottom: 2em;
}

.titulo {

    margin: 1em 5em;
}

body {
    background-color: var(--bg-body)
}

.conteudo {
    margin: auto;
    text-align: center;

}

.lista {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.frutas,
.laticinios,
.congelados,
.doces,
.outros,
.titulo {
    display: flex;
    background-color: var(--bg-listas);
    flex-direction: column;
    border: 1px solid var(--bg-listas);
    border-radius: 20px;
    padding: 1em;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.7);
    
}
.frutas,
.laticinios,
.congelados,
.doces,
.outros {
    width: 15em;
    
}

#frutas,
#laticinios,
#congelados,
#guloseimas,
#outros {
    cursor: pointer;
}

ul {
    text-align: center;
    list-style: none;

}

img {
    width: 8%;
}

.riscar-item2 {
    font-family: var(--fonte-secundaria);
    text-decoration: line-through red;
    color: red;
    font-size: 1em;
}
.riscar-item {
    font-family: var(--fonte-secundaria);
    color: var(--cor-lista);
    font-size: 1em;

}

.titulo-frutas,
.titulo-laticinios,
.titulo-congelados,
.titulo-guloseimas,
.titulo-outros,
.titulo-texto {
    font-family: var(--fonte-principal);
    color: var(--cor-titulo);
    font-size: 1.5em;
    font-weight: 700;
    cursor: pointer;

}

.rodape {
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5em;
    color: var(--cor-lista);
    padding: 3em;
    display: none;
    font-weight: 300;
}
.input-text{
    width: 100%;
    border: none;
    border-radius: 10px;
    text-align: center;
    
}
.botao{
    background-color: var(--cor-titulo);
    width: 100%;
    color: var(--cor-lista);
    border: 1px solid var(--cor-titulo);
    border-radius: 10px;
    cursor: pointer;
}

.botao:hover{
    background-color: #4a858d;
    color: black;
    border: 1px solid #4a858d;
}

@media screen and (max-width:1500px) {
    .conteudo {
        margin: 0;
    }

    .titulo {

        margin: 0;
    }

    .lista {
        
        margin: 2.5em;
        justify-content: space-between;
        align-items: center;
        gap: 2em;
        font-size: 0.9em;
    }
}

@media screen and (max-width:1000px) {

    .cabecalho {
        margin-top: 1em;
    }

    .conteudo {
        margin: 0 5em;


    }

    .lista {
        flex-direction: column;
        gap: 4em;

    }

    .frutas,
    .laticinios,
    .congelados,
    .doces,
    .outros {
        margin: 0 10em;
    }

    .rodape {
        display: block;
    }

}


@media screen and (max-width:500px) {

    .cabecalho {
        margin-top: 1em;
    }

    .conteudo {
        margin: auto;


    }

    .lista {
        flex-direction: column;
        gap: 4em;

    }

    .frutas,
    .laticinios,
    .congelados,
    .doces,
    .outros {
        margin: 0;
    }

    .rodape {
        display: block;
    }

}